// @import './roboto/sass/roboto';
@import './montserrat/montserrat.css';

$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$btn-border-radius: 100px;
$btn-border-radius-lg: 100px;
$btn-border-radius-sm: 100px;

$input-border-radius: 100px;
$input-border-radius-lg: 100px;
$input-border-radius-sm: 100px;

$primary: #5559C2;

$theme-colors: (
	"bg": #f2f2f2,
);

@import 'bootstrap/scss/bootstrap.scss';

.simple {
    // font-family: Helvetica, sans-serif;
    font-weight: 700;
}

.va {
    &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
    > .vam {
        display: inline-block;
        vertical-align: middle;
    }
}

.bg-image-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image-contain {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hoverable {
	cursor: pointer;
}

.nounderline {
	text-decoration: none !important;
}

.grad-purple {
    background: #a45bcb;
    background: -moz-linear-gradient(left, #a45bcb 0%, #5955ca 100%);
    background: -webkit-linear-gradient(left, #a45bcb 0%,#5955ca 100%);
    background: linear-gradient(to right, #a45bcb 0%,#5955ca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a45bcb', endColorstr='#5955ca',GradientType=1 );
    @media (min-width: 1024px) {
        &-hover:hover {
            background: #a45bcb;
            background: -moz-linear-gradient(left, #a45bcb 0%, #5955ca 100%);
            background: -webkit-linear-gradient(left, #a45bcb 0%,#5955ca 100%);
            background: linear-gradient(to right, #a45bcb 0%,#5955ca 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a45bcb', endColorstr='#5955ca',GradientType=1 );
        }
    }
    &.hoverable {
        position: relative;
        @media (min-width: 1024px) {
            &:not(:rounded):hover:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(255, 255, 255, .1);
                border-radius: 100px;
            }
        }
    }
    &.btn {
        position: relative;
        @media (min-width: 1024px) {
            &:hover:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(255, 255, 255, .1);
                border-radius: 100px;
            }
        }
    }
    &.line {
        height: 3px;
    }
    &.text {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.bg-main {
    // background-image: url('/static/bg.png');
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    // @media (max-width: 1200px) {
        background-color: #f6f6f6;
        background-image: none;
        *, .dd-button button.btn {
            color: $dark !important;
        }
    // }
}

input.clean {
    border: none;
    border-radius: initial;
    box-shadow: none;
}

.shadow-bottom {
    box-shadow: 0 .2rem .5rem rgba(#005, .25);
}

.text-hover-white:hover {
    * {
        color: $white !important;
    }
}

.hm {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: #000;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    &.white {
        background-color: #fff;
    }
    &.hm-md {
        height: 1.4rem;
        width: 1.4rem;
    }
}

.hm-account {
    mask-image: url('/static/icon-account.svg');
}

.hm-search {
    mask-image: url('/static/icon-search.svg');
}

.hm-menu {
    mask-image: url('/static/icon-menu.svg');
}